
<div #signupForm>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <img src="../../assets/images/logo.svg" alt="logo">
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">Join us today! It takes only few steps</h6>
              <form class="pt-3" [formGroup]="formDemo">
                <div class="form-group">
                  <label>Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control form-control-lg border-left-0" placeholder="Username"  formControlName="username"  id="username" required>
                  </div>
                  <div *ngIf="isSubmit&&form.username.errors" class="p1">
                    <p *ngIf="form.username.errors.required">Please enter userName.</p>
                  </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-email-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="email" class="form-control form-control-lg border-left-0" placeholder="Email" formControlName="email" id="email" required >
                  </div>
                  <div *ngIf="isSubmit&&form.email.errors" class="p1">
                    <p *ngIf="form.email.errors.required">Please enter email.</p>
                    <p *ngIf="form.email.errors.email">Please enter valid email.</p>
                  </div>
                </div>
                <div class="form-group">
                  <label>FirstName</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control form-control-lg border-left-0" placeholder="FirstName" formControlName="firstname" id="firstname" required>
                  </div>
                  <div *ngIf="isSubmit&&form.firstname.errors" class="p1">
                    <p *ngIf="form.firstname.errors.required">Please enter firstName.</p>
                  </div>
                </div>
                <div class="form-group">
                  <label>Lastname</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control form-control-lg border-left-0" placeholder="LastName"  formControlName="lastname" required >
                  </div>
                  <div *ngIf="isSubmit&&form.lastname.errors" class="p1">
                    <p *ngIf="form.lastname.errors.required">Please enter lastName.</p>
                  </div>
                </div>
                <div class="form-group">
                  <label>Telephone</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-tablet-android text-primary"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control form-control-lg border-left-0" placeholder="telephone" formControlName="telephone" required>
                  </div>
                  <div *ngIf="isSubmit&&form.telephone.errors" class="p1">
                    <p *ngIf="form.telephone.errors.required">Please enter telephone.</p>
                  </div>
                </div>
                <div class="form-group">
                  <label>Adress</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi  mdi-home text-primary"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control form-control-lg border-left-0" placeholder="Adress"  formControlName="adress" required>
                  </div>
                  <div *ngIf="isSubmit&&form.adress.errors" class="p1">
                    <p *ngIf="form.adress.errors.required">Please enter adress.</p>
                  </div>
                </div>


                <div class="form-group">
                  <label>Which one is you !!</label>
                  <select class="form-control form-control-lg" id="exampleFormControlSelect2" (change)="selectChangeHandler($event)">
                    <option>Select </option>
                    <option>Etudiant</option>
                    <option>Professionel</option>

                  </select>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="Password" formControlName="password" required>
                  </div>
                  <div *ngIf="isSubmit&&form.password.errors" class="p1">
                    <p *ngIf="form.password.errors.required">Please enter password.</p>
                  </div>
                </div>
                <div class="mb-4">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      I agree to all Terms & Conditions
                    </label>
                  </div>
                </div>
                <button type="button" class="btn btn-primary" (click)="onSubmit()"  >Submit</button>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="/login" class="text-primary">Login</a>
                </div>
              </form>

            </div>
          </div>
          <div class="col-lg-6 register-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018  All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->

  <!-- endinject -->
</div>
<router-outlet></router-outlet>


